/*
    Formats all general sections of content
*/
.content-sec{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(143, 175, 149);
    font-family: 'Courier New', monospace;
    font-size: 18px;
    border: 10px solid rgb(28, 58, 41);
    color: rgb(236, 255, 241);
  }

/*
  Formats the list of skills
*/
#skill-list{
    grid-column: 1 /4;
}
/*
    Formats the header section so that it is fixed on the screen
*/
#header{
    position: fixed;
    text-align: center;
    background-color: rgb(16, 29, 24);
    width: 100%;
    height: fit-content;
    font-family: "Lucida Console", monospace;
    font-size: 20px;
    
}

/*
    Formats parts of the experience section
*/
#experience-text{
    grid-column: 1 /4;
    text-align: center;
}

/*
    Formats how images are displayed
*/
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    max-width: 80%;
    max-height: 80%;
    border: 10px solid rgb(28, 58, 41);
}
/*
    Format default background color in body
*/
.body{
    background-color: black;
}
/*
    Formats parts of the activity section
*/
.activity-wrapper{
    text-align: center;
}

/*
    Formats parts of the education section
*/
.education-wrapper{
    grid-column: 1 /4;
    text-align: center;
}

/*
    Format navigation bars
*/
.nav-bar{
    position: relative;
    bottom: 15px;
    grid-column: 1 /4;
    text-align: center;
}

/*
    Format the header of each section
*/
.section-head{
    grid-column: 1 /4;
    text-align: center;
    color:rgb(55, 124, 76)
}

/*
    Set color of links
*/
a:link {
    color: rgb(70, 109, 75);
  }
  
/*
    Set color of links after visited
*/
a:visited {
    color: rgb(255, 255, 255);
}